# Datas
/datas
/data
/home/ampliar/Desktop/tf_model/models/*.tflite

#Output
/output
/results
/img_test


# Logs/logs
/logs
modules/**/__pycache__

# Control Room
/server_state
/web/node_modules
/web/dist